.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.listItem {
  a {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .infoContent {
    display: flex;
    gap: 24px;

    & > div {
      display: grid;
      grid-template-columns: auto auto;
      gap: 8px;
    }
  }
}

.button {
  margin-top: 64px;
  background: transparent;
  border: none;
  color: var(--pink-100);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(80%);
  }
}

.loading {
  margin-top: 64px;

  svg {
    animation: lds-dual-ring 5s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
