.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.listItem {
  a {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      color: var(--white-100);
    }

    p {
      color: var(--white-250);
    }
  }

  .infoContent {
    display: flex;

    ul {
      display: grid;
      grid-template-columns: auto auto;
      gap: 24px;
      list-style: none;
      color: var(--white-300);

      li {
        display: grid;
        grid-template-columns: auto auto;
        gap: 8px;
        align-items: center;
      }
    }
  }
}

.button {
  margin-top: 64px;
  background: transparent;
  border: none;
  color: var(--pink-100);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(80%);
  }
}

.loading {
  margin-top: 64px;

  svg {
    animation: lds-dual-ring 5s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
